RewriteEngine on
#RewriteBase /

#Keeps people out of our code.
RewriteRule ^(application|core|config|lib|logs).* index.php [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]

